.search {
padding: 7px 5px 7px 5px
}
.form-control {
  margin-right: -3px;
}
.enter {
  font-size: 12px;
  font-weight: 200;
  text-align: right;
  margin: 0px 5px 0px 0px;
  padding: 0px;
  color: #f3f3f3;
  }
  .navbar {
    font-weight: 10;
  }